<mat-toolbar class="navbar">
  <a mat-button routerLink="/" class="home-link">Coin</a>

  <span class="spacer"></span>

  @if (!isLoading()) {
    @if (username() !== '') {
      <button matButton [matMenuTriggerFor]="menu" class="user-menu">{{ username() }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span i18n="Button in the navbar for user to go to his profile@@navbar.go-to-profile">Profile</span>
        </button>
        <button mat-menu-item class="logout-button" (click)="logout()">
          <mat-icon color="primary">logout</mat-icon>
          <span i18n="Button in the navbar to logout@@navbar.logout">Logout</span>
        </button>
      </mat-menu>
    } @else {
      <a mat-raised-button routerLink="/login" i18n="Button in the navbar to login (only visible in guest mode)@@navbar.login">Login</a>
    }
  }
</mat-toolbar>
