@if (user()) {
  <div class="home-layout-authenticated">
    <div class="top-section">
      <div class="overall-balance"><app-overall-balance /></div>
      <div class="recent-expenses"><app-latest-expenses /></div>
    </div>

    <mat-divider class="sections-divider"></mat-divider>

    <div class="groups-section">
      <div class="groups-section-header">
        <h2 i18n="Title for the groups section located in the home page@@home.groups.title">
          Groups
        </h2>
        <button matButton color="primary" (click)="openCreateGroupDialog()">
          <mat-icon>add</mat-icon>
          <ng-container
            i18n="
              Button in the home page that allows the current user to create a new
              group@@home.create-new-group"
          >
            Create new group
          </ng-container>
        </button>
      </div>
      <app-group-overview-list />
    </div>
  </div>
  <button matFab extended class="new-expense-button" (click)="openCreateExpenseDialog()">
    <mat-icon>add_card</mat-icon>
    <ng-container i18n="Floating action button to create a new expense@@home.new-expense-button">
      New expense
    </ng-container>
  </button>
} @else {
  <div class="home-layout-guest">
    <h1 i18n="Main title for the home page in guest mode@@home.title">Welcome to coin</h1>
    <p i18n="Tells the user to login to start using the application@@home.login">
      Login to your account to start sharing expenses !
    </p>
  </div>
}
